# Data Wrangling with Spark SQL Quiz

This quiz uses the same dataset and most of the same questions from the earlier "Quiz - Data Wrangling with Data Frames Jupyter Notebook." For this quiz, however, use Spark SQL instead of Spark Data Frames.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
spark = SparkSession \
    .builder \
    .appName("Data wrangling with Spark SQL") \
    .getOrCreate()

In [3]:
path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)

In [4]:
user_log.take(1)

[Row(artist='Showaddywaddy', auth='Logged In', firstName='Kenneth', gender='M', itemInSession=112, lastName='Matthews', length=232.93342, level='paid', location='Charlotte-Concord-Gastonia, NC-SC', method='PUT', page='NextSong', registration=1509380319284, sessionId=5132, song='Christmas Tears Will Fall', status=200, ts=1513720872284, userAgent='"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', userId='1046')]

In [5]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [6]:
user_log.createOrReplaceTempView("user_log_table")

# Question 1

Which page did user id ""(empty string) NOT visit?

In [12]:
spark.sql("SELECT distinct (userId, page) FROM user_log_table where userId='' LIMIT 10").show()

+----------------------------------------+
|named_struct(userId, userId, page, page)|
+----------------------------------------+
|                                [, Home]|
|                               [, About]|
|                               [, Login]|
|                                [, Help]|
+----------------------------------------+

# Question 2 - Reflect

Why might you prefer to use SQL over data frames? Why might you prefer data frames over SQL?

In [ ]:
spark.sql("SELECT distinct (userId, page) FROM user_log_table where userId='' LIMIT 10").show()

# Question 3

How many female users do we have in the data set?

In [19]:
spark.sql("""SELECT  count(distinct userId)  FROM 
            user_log_table
            where gender='F'
""").show()

+----------------------+
|count(DISTINCT userId)|
+----------------------+
|                   462|
+----------------------+

# Question 4

How many songs were played from the most played artist?

In [21]:
spark.sql("""SELECT  artist, count(*)  FROM 
            user_log_table
            group by 1
            order by 2 DESC
""").show()

+--------------------+--------+
|              artist|count(1)|
+--------------------+--------+
|                null|    1653|
|            Coldplay|      83|
|       Kings Of Leon|      69|
|Florence + The Ma...|      52|
|            BjÃÂ¶rk|      46|
|       Dwight Yoakam|      45|
|       Justin Bieber|      43|
|      The Black Keys|      40|
|         OneRepublic|      37|
|                Muse|      36|
|        Jack Johnson|      36|
|           Radiohead|      31|
|        Taylor Swift|      29|
|Barry Tuckwell/Ac...|      28|
|          Lily Allen|      28|
|               Train|      28|
|           Daft Punk|      27|
|           Metallica|      27|
|          Nickelback|      27|
|          Kanye West|      26|
+--------------------+--------+
only showing top 20 rows

# Question 5 (challenge)

How many songs do users listen to on average between visiting our home page? Please round your answer to the closest integer.

In [ ]:
# TODO: write your code to answer question 5